.form_container{
  width:200px;
  margin-left: 40%;
  margin-top:100px;
}

.form_container .group{
  margin-bottom: 15px;
}

.form_container label{
  display:block
}

.form_container button{
  width:200px;
  margin: 20px;
}

.form_error{
  color:red;
}
.P1{
  background-color: white;
}
.p2{
  margin-top: -50px;
}
body {
  padding: 30px;
}
