<!--<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile> <img src="../../../assets/rendu.png" width="300px" height="200px"></mat-grid-tile>

  <mat-grid-tile class="P5">

</mat-grid-tile>
</mat-grid-list>-->


<div >
        <mat-grid-list cols = "3" rowHeight="2:2">
          <mat-grid-tile>
            <mat-card class="card1">
              <mat-card-header>
                <div *ngFor="let matiere of listeDesMatieres">
                  <p *ngIf="matiere.id==1">
                      Devoir intitulé {{matiere.label}}
                  </p>
                </div>
               </mat-card-header>
               <img class="display" src="../../../assets/anglais.jpg" >
              <mat-card-content >
                     <mat-card-actions>
                    <button mat-button (click)="Dangular0()" color="primary">DETAILS</button>
                    <button mat-button (click)="onClick()" color="primary">RENDRE</button>
                     </mat-card-actions>
              </mat-card-content>
                </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card class="card1">
              <mat-card-header>
                <div *ngFor="let matiere of listeDesMatieres">
                  <p *ngIf="matiere.id==2">
                      Devoir intitulé {{matiere.label}}
                  </p>
                </div>
               </mat-card-header>
               <img class="display" src="../../../assets/angular.svg.png" >
               <mat-card-content>
                <mat-card-actions>
               <button mat-button (click)="Dangular1()" color="primary">DETAILS</button>
               <button mat-button (click)="onClick" color="primary">RENDRE</button>
                </mat-card-actions>
         </mat-card-content>
          </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card class="card2">
              <mat-card-header>
                <div *ngFor="let matiere of listeDesMatieres">
                  <p *ngIf="matiere.id==4">
                      Devoir intitulé {{matiere.label}}
                  </p>
                </div>
               </mat-card-header>
               <img class="display" src="../../../assets/Management Projet.jpg" >
               <mat-card-content>
                <mat-card-actions>
               <button mat-button (click)="Dangular2()" color="primary">DETAILS</button>
               <button mat-button (click)="onClick" color="primary">RENDRE</button>
                </mat-card-actions>
         </mat-card-content>
          </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card class="card1">
              <mat-card-header>
                <div *ngFor="let matiere of listeDesMatieres">
                  <p *ngIf="matiere.id==5">
                      Devoir intitulé {{matiere.label}}
                  </p>
                </div>
               </mat-card-header>
               <img class="display" src="../../../assets/rendu.png" >
               <mat-card-content>
                <mat-card-actions>
               <button mat-button (click)="Dangular3()" color="primary">DETAILS</button>
               <button mat-button (click)="onClick" color="primary">RENDRE</button>
                </mat-card-actions>
         </mat-card-content>
          </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card class="card1">
              <mat-card-header>
                <div *ngFor="let matiere of listeDesMatieres">
                  <p *ngIf="matiere.id==6">
                      Devoir intitulé {{matiere.label}}
                  </p>
                </div>
               </mat-card-header>
               <img class="display" src="../../../assets/Agilite.png" >
               <mat-card-content>
                <mat-card-actions>
               <button mat-button (click)="Dangular4()" color="primary">DETAILS</button>
               <button mat-button (click)="onClick" color="primary">RENDRE</button>
                </mat-card-actions>
         </mat-card-content>
          </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card class="card1">
              <mat-card-header>
                <div *ngFor="let matiere of listeDesMatieres">
                  <p *ngIf="matiere.id==7">
                      Devoir intitulé {{matiere.label}}
                  </p>
                </div>
               </mat-card-header>
               <img class="display" src="../../../assets/anglais.jpg" >
               <mat-card-content>
                <mat-card-actions>
               <button mat-button (click)="Dangular5()" color="primary">DETAILS</button>
               <button mat-button (click)="onClick" color="primary">RENDRE</button>
                </mat-card-actions>
         </mat-card-content>
          </mat-card>
          </mat-grid-tile>
        </mat-grid-list>

</div>


