<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile> <img src="../../../assets/rendu.png" width="300px" height="200px">
  </mat-grid-tile>
  <mat-grid-tile class="P5">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Centre d'Authentification</mat-card-title>
        </mat-card-header>
       <!-- <img matCardImage src="../../../assets/rendu.png" width="70px" height="50px"> -->

       <div class="form_container">
        <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
               <div class="group">
                   <input type="text" placeholder="   Adresse e-mail" name="email" id="email" [(ngModel)]="form.email" #email="ngModel" required>
                   <div class="form_error" *ngIf="email.errors && f.submitted">Email is required</div>
               </div>
               <div>
                <input type="password" placeholder="   Mot de passe" name="password" id="password" [(ngModel)]="form.password" #password="ngModel" required minlength="5">
                <div class="form_error" *ngIf="password.errors && f.submitted">
                  <div *ngIf="password.errors"> Password is required</div>
                </div>

               </div>
               <div class="group">
                <button class="button1" >Se connecter</button>
                <hr>
                <a routerLink="../signup"> <button class="button2">Créer nouveau compte</button></a>

               </div>
        </form>
      </div>
    </mat-card>
  </mat-grid-tile>



